@import "tailwindcss";

@theme inline {
  --color-primary: #B49E7A;
  --color-primary-light: #c4b08a;
  --color-secondary: #312F22;
  --color-cream: #faf5f3;
  --color-charcoal: #312F22;
  --color-accent: #B49E7A;
  --color-surface: #ffffff;
  --color-text: #312F22;
  --color-text-muted: #312F2280;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-prata);
}

/* Masquer la scrollbar */
html {
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
