@import "tailwindcss";

@theme inline {
  --color-primary: #B49E7A;
  --color-primary-light: #c4b08a;
  --color-secondary: #312F22;
  --color-cream: #f3eae0;
  --color-charcoal: #312F22;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-prata);
}
